.btn-menu{
    width: 170px;
    height: 40px;
    background-color: #FFDCE4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.icone{
    margin-right: 30px;
}